*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Quicksand,sans-serif;
}

body{

height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(180deg,#ffd9eb,#ffc7de,#ffb5d4);

}

.container{

text-align:center;
z-index:2;

}

h1{

color:white;
font-size:2.8rem;
margin-bottom:10px;
text-shadow:0 5px 15px rgba(0,0,0,.12);

}

p{

color:white;
font-size:1.2rem;
margin-bottom:50px;

}

/* ---------------- GIFT ---------------- */

#gift{

position:relative;

width:220px;
height:220px;

cursor:pointer;

transition:.3s;

}

#gift:hover{

transform:scale(1.03);

}

.box{

position:absolute;

bottom:0;

width:220px;
height:140px;

background:#ff8fbe;

border-radius:0 0 18px 18px;

box-shadow:0 20px 35px rgba(0,0,0,.12);

overflow:hidden;

}

.vertical-ribbon{

position:absolute;

left:50%;

transform:translateX(-50%);

width:26px;
height:100%;

background:white;

}

.horizontal-ribbon{

position:absolute;

top:50%;

transform:translateY(-50%);

width:100%;
height:24px;

background:white;

}

.lid{

position:absolute;

top:55px;

width:220px;
height:45px;

background:#ff6ead;

border-radius:14px;

transform-origin:left center;

transition:1s cubic-bezier(.2,1,.2,1);

z-index:5;

}

.bow{

position:absolute;

left:50%;
top:-22px;

transform:translateX(-50%);

width:46px;
height:46px;

}

.loop{

position:absolute;

width:30px;
height:30px;

background:#ff4f98;

border-radius:8px;

}

.left{

left:-18px;
transform:rotate(-35deg);

}

.right{

right:-18px;
transform:rotate(35deg);

}

.knot{

position:absolute;

left:50%;
top:50%;

transform:translate(-50%,-50%);

width:22px;
height:22px;

background:#ff3d8f;

border-radius:50%;

}

#gift::after{

content:"";

position:absolute;

left:50%;
bottom:65px;

transform:translateX(-50%);

width:0;
height:0;

background:#ffe4f4;

border-radius:50%;

filter:blur(50px);

transition:1s;

z-index:-1;

}

/* OPEN */

#gift.open::after{

width:340px;
height:340px;

}

#gift.open .lid{

transform:
translateY(-95px)
rotate(-28deg);

}

#gift.open .bow{

animation:spin .8s forwards;

}

@keyframes spin{

to{

transform:
translateX(-50%)
rotate(160deg)
scale(.8);

}

}

/* PARTICLES */

.particle{

position:absolute;

pointer-events:none;

animation:explode linear forwards;

}

@keyframes explode{

0%{

opacity:1;

transform:
translate(0,0)
scale(.4)
rotate(0);

}

100%{

opacity:0;

transform:
translate(var(--x),var(--y))
rotate(720deg)
scale(1.4);

}

}